<div id="template-content">
<section class="doc">
  {{#header name since}}{{/header}}
  <article class="_first">
    <!-- Description -->
    {{{classDescription}}}
    <!-- Properties -->
    <h5>Properties</h5>
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Description</th></tr></thead>
      <tbody>
        {{#attrs}}
          {{#if final}}
            <!-- -->
          {{else}}
            <tr>
              <td>
                <a href="#attr_{{name}}"><code>.{{name}}</code></a>
                {{#if deprecated}}<span class="label danger">Deprecated</span>{{/if}}
                {{#if beta}}<span class="label info">Beta</span>{{/if}}
              </td>
              <td><var>{{#crossLink type}}{{/crossLink}}</var></td>
              <td>{{#tableItemDescription description}}{{/tableItemDescription}}</td>
            </tr>
          {{/if}}
        {{/attrs}}
      </tbody>
    </table>
    <!-- Enums -->
    <h5>Constants / Enums</h5>
    <table>
      <thead><tr><th>Name</th><th>Description</th></tr></thead>
      <tbody>
        {{#attrs}}
          {{#if final}}
            <tr>
              <td><a href="#attr_{{name}}"><code>.{{name}}</code></a></td>
              <td>{{#tableItemDescription description}}{{/tableItemDescription}}</td>
            </tr>
          {{/if}}
        {{/attrs}}
      </tbody>
    </table>
    <!-- Methods -->
    <h5>Methods</h5>
    <table>
      <thead><tr><th>Method</th><th>Returns</th><th>Description</th></tr></thead>
      <tbody>
        {{#methods}}
          <tr>
            <td><a href="#method_{{name}}"><code>.{{name}}</code></a>{{#tableItemParams params}}{{/tableItemParams}}</td>
            <td><var>{{#if return}}{{#crossLink returnType}}{{/crossLink}}{{else}}-{{/if}}</var></td>
            <td>{{#tableItemDescription description}}{{/tableItemDescription}}</td>
          </tr>
        {{/methods}}
      </tbody>
    </table>
    <!-- Events -->
    <h5>Events</h5>
    <table>
      <thead><tr><th>Event</th><th>Payload</th><th>Description</th></tr></thead>
      <tbody>
        {{#events}}
          <tr>
            <td><a href="#event_{{name}}"><code>"{{name}}"</code></a></td>
            <td>{{#tableItemParams params}}{{/tableItemParams}}</td>
            <td>{{#tableItemDescription description}}{{/tableItemDescription}}</td>
          </tr>
        {{/events}}
      </tbody>
    </table>
  </article>
  {{#methods}}
    {{>method}}
  {{/methods}}
</section>
</div>