<article id="method_{{name}}">
  {{#test this}}{{/test}}
  <div class="doc-type">
    <div class="doc-type-wrapper">
      {{#if async}}<span class="label primary"><i class="fa fa-exchange"></i> async</span>{{/if}}
      {{#if deprecated}}<span class="label danger"><i class="fa fa-exclamation-triangle"></i> deprecated</span>{{/if}}
      {{#if beta}}<span class="label info"><i class="fa fa-flask"></i> beta</span>{{/if}}
      {{#if optional}}<span class="label default"><i class="fa fa-puzzle-piece"></i> optional</span>{{/if}}
      {{#if final}}<span class="label warning"><i class="fa fa-gavel"></i> final</span>{{/if}}
      <span class="version">Since {{#if since}}{{since}}{{else}}-{{/if}}</span>
      <span class="type">Method</span>
      <span class="definedat">Defined at: <a href="{{foundAt}}"><var>{{{file}}}:{{{line}}}</var></a></span>
    </div>
  </div>
  <h3><var>.{{name}}</var> {{#tableItemParams params}}{{/tableItemParams}} <small>&#8594;&nbsp;&nbsp;
    {{#if return}}{{#type returnType}}{{/type}}{{else}}None{{/if}}</small></h3>
    <p class="doc-supports">
      {{#when when}}{{/when}}
      <!--<span class="supports">
        <em class="title">Supports:</em>
        <em><i class="fa fa-chrome"></i> 55</em>
        <em><i class="fa fa-firefox"></i> 48</em>
        <em><i class="fa fa-opera"></i> 37</em>
        <em><i class="fa fa-safari"></i> 7 (0.8.870)</em>
        <em><i class="fa fa-internet-explorer"></i> 11 (0.8.870)</em>
        <em><i class="fa fa-edge"></i> 13.457</em>
        <em><i class="fa fa-android"></i> 8</em>
        <em><i class="fa fa-globe"></i> 0.6.1</em>
      </span>-->
    </p>
  {{{description}}}
  <!-- Parameters -->
  <h5>Parameters</h5>
  {{#parameters params false}}{{/parameters}}
  <!-- Returns -->
  <h5>Returns</h5>
  {{#parameters params true}}{{/parameters}}
  <!-- Example -->
  {{#example}}
    <h5>Example:</h5>
    <pre class="prettyprint">{{{.}}}</pre>
  {{/example}}
</article>